<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49233142170-unhlri554uikd2b1enu2gvaupk7tl9t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49233142170-unhlri554uikd2b1enu2gvaupk7tl9t4</string>
	<key>API_KEY</key>
	<string>AIzaSyBWwNDmzAldll5U1UJFc36MCoBHaCjLQ9s</string>
	<key>GCM_SENDER_ID</key>
	<string>49233142170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alien1900.niceFoodDelivery</string>
	<key>PROJECT_ID</key>
	<string>nicefooddelivery</string>
	<key>STORAGE_BUCKET</key>
	<string>nicefooddelivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49233142170:ios:d6770d0c4083439a8c5a23</string>
	<key>DATABASE_URL</key>
	<string>https://nicefooddelivery.firebaseio.com</string>
</dict>
</plist>